<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100vw;
            height: 100vh;
            overflow-y: visible;
            background-color: #051923;
        }

        main.container {
            min-width: 100%;
            min-height: 100%;

            display: grid;
            place-items: center;
        }

        input.form-control {
            color: #fff !important;
            background-color: transparent !important;
            border-color: #006494 !important;
        }

        input.form-control::placeholder {
            color: #006494 !important;
        }

        input.form-control:focus,
        input.form-control:active {
            background-color: transparent !important;
            border-color: #00A6FB !important;
        }

        input.form-control:focus::placeholder {
            color: #00A6FB !important;
        }

        table {
            border: 0.1px solid #003554 !important;
        }

        th {
            font-size: 1rem;
            font-weight: 700;

            background-color: #003554 !important;
        }

        th,
        td {
            text-align: center;
        }

        td {
            background-color: transparent !important;
        }

        .modal-content {
            background-color: #051923;
            color: #fff;
        }

        .modal-header,
        .modal-body,
        .modal-footer {
            border: none !important;
        }
    </style>

    <!-- Title -->
    <title>Grupo</title>
</head>

<body>
    <main class="container">
        <!-- 

            Formulário de inserção

         -->
        <form id="form-inserir-grupo" class="row g-3" style="width: 60% !important;">
            <div class="col-md-6">
                <input type="text" name="inserirNome" id="inserirNome" class="form-control" placeholder="Nome do grupo"
                    aria-label="Nome do grupo">
            </div>
            <div class="col-md-6">
                <input type="text" name="inserirEstande" id="inserirEstande" class="form-control"
                    placeholder="Estande do grupo" aria-label="Estande do grupo">
            </div>
            <div class="col-md-9">
                <input type="text" name="inserirLider" id="inserirLider" class="form-control"
                    placeholder="Matrícula do líder" aria-label="Matrícula do líder">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" style="width: 100%;" onclick="inserirGrupo()">
                    Inserir
                </button>
            </div>
        </form>
        <!-- 

            Tabela de grupos inseridos

         -->
        <table class="table table-striped-custom table-bordered align-middle table-dark" style="width: 60% !important;">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Líder</th>
                    <th scope="col">Estande</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < grupos.length; i++) { %>
                    <tr>
                        <td>
                            <%= grupos[i].nome %>
                        </td>
                        <td>
                            <%= grupos[i].liderMatricula %>
                        </td>
                        <td>
                            <%= grupos[i].estandeNumero %>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#UpdateModal">
                                Alterar
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                onclick="deletarGrupo('<%= grupos[i].nome %>')">
                                Deletar
                            </button>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </main>
    <!-- 

        Modal

     -->
    <div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="UpdateModalLabel">Alterar grupo</h1>
                </div>
                <div class="modal-body">
                    <!-- 

                        Formulário de alteração

                     -->
                    <form class="row g-3">
                        <div class="col-12">
                            <input type="text" name="atualizarLider" id="atualizarLider" class="form-control"
                                placeholder="Matrícula do líder" aria-label="Matrícula do líder">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="atualizarNome" id="atualizarNome" class="form-control"
                                placeholder="Nome do grupo" aria-label="Nome do grupo">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="atualizarEstande" id="atualizarEstande" class="form-control"
                                placeholder="Estande do grupo" aria-label="Estande do grupo">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="alterarGrupo()">Alterar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function inserirGrupo() {
            let nome = document.getElementById('inserirNome').value;
            let lider = document.getElementById('inserirLider').value;
            let estande = document.getElementById('inserirEstande').value;

            let body = JSON.stringify({
                nome: nome,
                lider: {
                    connect: {
                        matricula: lider
                    }
                },
                estande: {
                    connect: {
                        numero: estande
                    }
                },
                avaliacoes: {
                    create: []
                }
            });

            fetch("/grupo/insert", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            });
        }

        function alterarGrupo() {
            let nome = document.getElementById('atualizarNome').value;
            let lider = document.getElementById('atualizarLider').value;
            let estande = document.getElementById('atualizarEstande').value;

            let body = JSON.stringify({
                nome: nome,
                lider: {
                    connect: {
                        matricula: lider
                    }
                },
                estande: {
                    connect: {
                        numero: estande
                    }
                },
            });

            fetch(`/grupo/update/${nome}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/grupo/';
                } else {
                    console.error('Erro ao atualizar grupo:', response.statusText);
                }
            });
        }

        function deletarGrupo(nome) {
            fetch(`/grupo/delete/${nome}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/grupo/';
                } else {
                    console.error('Erro ao deletar grupo:', response.statusText);
                }
            });
        }
    </script>

    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>